@media all and (max-width:740px){
    .carousel-inner>.active {
        background-color: rgba(255, 255, 255, 0.6);
        font-weight: bold;
    }
    div.active {
        padding: 10vw;
    }
    .carousel {
        margin: 5%;
        margin-bottom: 20vh;
    }
    h4 {
        font-family: 'Merienda One', cursive;
        margin-bottom: 10%;
        text-align: center;
    }
}

img {
    width: 80%;
    margin: auto auto;
    display: block;
}