#dropup {
    position: relative;
    display: inline-block;
}
#dropup-content {
    color: white;
    background-color: rgb(20, 15, 45, .9);
    width: 90vw;
    display: none;
    position: absolute;
    bottom: 60px;
    right: 0px;
    padding: 1em;
    z-index: 1;
    border-radius: 25px 25px 0px 0px;
}
#dropup-content a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: right;
}
.btn, .btn:active, .btn:focus, .btn:hover, .btn:visited {
    transition: none;
    background-color: transparent;
    cursor: pointer;
}
nav svg {
    width: 2.5rem;
}
.sr-only {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}