@media all and (max-width:768px){
    .lgandup img {
        width: 80%;
        margin: 10%;
        margin-bottom: 0;
    }
    .big {
        display: none;
    }
    body {
        background-color: #140F2D;
        background-image: url('https://i.pinimg.com/originals/cf/d3/bc/cfd3bc0577f759a1f130f0ff59163055.jpg');/*https://i.pinimg.com/originals/42/83/46/428346683f6f1416a5ce6b2208174447.jpg');
      */height: 100%;
        background-attachment: scroll;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }
    h1 {
        color: #ffffff;
        background-color: rgb(	255, 246, 235, .2);
        margin: 5% ;
        text-align: center;
        padding: 3vw;
    }
    section#html5, section#css3, section#javas {
        background-color: rgba(255, 255, 255, 0.6);
        display: flex;
        margin: 10%;
        align-items: center;
        justify-content: center;
        padding-left: 2vw;
    }
    section svg{
        width: 20vw;
        display: inline-flex;
        display: -moz-inline-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        margin: 5%;
    }
    section p {
        display: inline-flex;
        display: -moz-inline-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        width: 70%;
        text-align: justify;
        margin: 5%;
    }
    section#javas {
        margin-bottom: 20vh;
    }
}

@media all and (min-width:769px){
    main {
        background-color: transparent;
        display: flex;
        flex-direction: row;
    }
    section {
        z-index: 5;
        display: flex;
        width: 100%;
        height: 20vh;
        margin: 8%;
        padding: 2.5%;
        background-color: rgba(255, 255, 255, 0.7);
    }
    h1 {
        margin: 10rem;
    }
    .info {
        width: 60vw;
        padding: 10%;
        padding-top: 5%;
    }
    div.lgandup {
        /*display: inline-block;*/
        display: flex;
        flex-direction: column;
        width: 30vw;
        height: 100vh;
        padding: 10%;
        padding-left: 15%;
        justify-content: space-around;
    }
    img#backimg {
        z-index: -100;
        position: fixed;
        top: 0;
        display: block;
        height: 100vh;
        width: auto;
    }
    div.lgandup>img {
        width: 20rem;
        align-self: center;
        margin-left: 5rem;
    }
    h1 {
        color: #ffffff;
        text-align: center;
        align-self: center;
        z-index: 5;
        font-size: 2em;
        line-height: 2em;
        width: 200%;
        margin: 10% !important;
        /*background-color: rgba(255, 255, 255, 1);*/
    }
    p {
        width: 60%;
    }
    section>svg {
        width: 30%;
    }
}

@media all and (min-width:2000px){
    img {
        width: 2540px;
    }
}
h1 {
font-family: 'Merienda One', cursive;
}