@media all and (max-width:750px){
    img.pic{
        display: none;
    }
    img#shown{
        width: 90%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    caption {
        width: 1px;
        height: 1px;
    }
    button.slide-arrow.btn-outline-primary {
        width: 25%;
        margin: 5%;
        margin-top: 1vh;
        display: inline-block;
        margin-bottom: 20vh;
    }
    button svg {
        width: 90%;
    }
    .left {
        float: left;
        margin-left: 20%;
    }
    .right {
        float: right;
        margin-right: 20%;
    }
}

.btn, .btn:active, .btn:focus, .btn:hover, .btn:visited {
    transition: none;
    background-color: transparent;
    cursor: pointer;
}